
{% extends 'base.html' %}
    {% block  content %}
    <div class="container">
        <div class="box">
            <div class="title">
                <h1>LOGIN </h1>
            </div>
        {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
        {% endif %}

            <div class="form">
               
                 
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" placeholder="Username" name="username">
                    <input type="password" placeholder="Password" name="password">
                

                    <div class="btn">
                        <button type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}