{% extends 'base.html' %}
{% block content %}
<div class="table">
    <div class="heading">
        <h1>Courses</h1>
    </div>
    <table border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Duration</th>
                <th>Fees</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            {% for x in x %}
            <tr>
                <td>{{ x.name }}</td>
                <td>{{ x.durations }}</td>
                <td>{{ x.fees }}</td>
                <td><a href="{% url 'delete_course' x.id %}" onclick="return confirm('Are you sure?')">Delete</a></td>
                <td><a href="{% url 'update_course' x.id %}">Update</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="4"></td>
                <td><a href="{% url 'createcourse' %}">Create Course</a></td>  
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
